{% extends "base.html" %}

{% block title %}Buy Ticket{% endblock %}

{% block header %}
<h1>Buy A Ticket</h1>
{% endblock %}

{% block main %}

<form method="POST">
    {% csrf_token %}

    <label>Select Jeep:</label>
    <select name="jeep" required>
        <option value="">-- Select Jeep --</option>
        {% for jeep in jeeps %}
        <option value="{{ jeep.jeep_id }}">
            {{ jeep.jeep_id }} - {{ jeep.route.route_name }}
        </option>
        {% endfor %}
    </select>

    <br><br>

    <button type="submit">Buy Ticket</button>
</form>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

{% endblock %}
